<nav class="navbar">
  <a class="navbar-brand" href="https://etraining.co/" target="_blank">
    <img src="../assets/logo.jpg" alt="E training logo">
  </a>
</nav>
<div class="container">
  <div class="col-md-6 mx-auto mt-4">
    <ul class="list-group">
      <li *ngFor="let course of coursesArr" class="list-group-item list-group-item-action" (click)="editCourse(course)" [class.active]="course==selectedCourse">
        <b>{{course.id}}) </b> <b>Nombre:</b> {{course.Nombre}} - <b>Inicio:</b> {{course.Fecha_de_inicio_del_curso}} - <b>Fin:</b> {{course.Fecha_Fin_del_curso}}
      </li>
    </ul>
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title">
          Agregar un nuevo curso
        </div>
        <form (submit)="createOrUpdateCourse()">
          <div class="mb-1">
            <label for="name">Nombre:</label>
            <input type="text" id="name" placeholder="Nombre del curso" [(ngModel)]="selectedCourse.Nombre" name="name">
          </div>
          <div class="mb-1">
            <label for="startDate">Fecha inicio:</label>
            <input type="date" id="startDate" placeholder="dd/mm/aaaa" [(ngModel)]="selectedCourse.Fecha_de_inicio_del_curso" name="startDate">
          </div>
          <div class="mb-1">
            <label for="endDate">Fecha inicio:</label>
            <input type="date" id="endDate" placeholder="dd/mm/aaaa" [(ngModel)]="selectedCourse.Fecha_Fin_del_curso" name="endDate">
          </div>
          <div>
            <button type="submit" class="btn btn-primary">{{textButton}}</button>
            <button *ngIf="selectedCourse.id!==0" class="btn btn-danger ml-1" (click)="deleteCourse()">Eliminar curso</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>